server:
  port: 8080

spring:
  application:
    name: gateway

  cloud:
    gateway:

      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:4200"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "*"
            allowCredentials: true

      routes:

        - id: auth
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/api/auth/**

        - id: admin
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/api/admin/**

        - id: catalog
          uri: lb://CATALOG-SERVICE
          predicates:
            - Path=/api/catalog/**

        - id: plans
          uri: lb://SUBSCRIPTION-SERVICE
          predicates:
            - Path=/api/plans/**

        - id: subscription
          uri: lb://SUBSCRIPTION-SERVICE
          predicates:
            - Path=/api/subscription/**

        - id: stripe
          uri: lb://SUBSCRIPTION-SERVICE
          predicates:
            - Path=/api/stripe/**

        - id: payments
          uri: lb://SUBSCRIPTION-SERVICE
          predicates:
            - Path=/api/payments/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka